#visual studio ignores
.vs/
*.pdb

# deshi ignores
*.recipe
*.obj
*.idb
*.o
*.exe
*.cppcheck
*.exe
*.4coder
*.spv
*.cap
*.rdbg

imgui.ini
TODOs.txt
deshi_project_suppressions.cfg

/data
/logs
/build
/cfg
/deshicheck-cppcheck-build-dir
/docs/doxygen
misc/4coder.bat
misc/shell.bat
misc/deshi.vcxproj.user