# deshi ignores

#extensions
*.pdb
*.recipe
*.obj
*.idb
*.o
*.exe
*.cppcheck
*.4coder
*.spv
*.cap
*.rdbg

#folders
.vs/
build/
deshicheck-cppcheck-build-dir/
docs/doxygen/

#specific files
imgui.ini
TODOs.txt
deshi_project_suppressions.cfg
misc/4coder.bat
misc/shell.bat
misc/deshi.vcxproj.user

#data ignores (large/binary/user files)
data/cfg/
#data/entities/
data/logs/
data/models/
data/saves/
#data/shaders/
data/sounds/
data/textures/