# deshi ignores

#extensions
*.pdb
*.recipe
*.obj
*.idb
*.o
*.exe
*.cppcheck
*.4coder
*.spv
*.cap
*.rdbg
*.tmp
*.ctm

#folders
.vs/
build/
deshicheck-cppcheck-build-dir/
docs/doxygen/

#data ignores (large/binary/user files)
data/*.*
data/cfg/
data/fonts/
#data/commands
#data/entities/
#data/levels
data/logs/
data/models/
data/saves/
#data/shaders/
data/sounds/
data/temp/
data/textures/

#specific files
imgui.ini
TODOs.txt
deshi_project_suppressions.cfg
misc/deshi.vcxproj.user
customvis.natvis

#delle specifics
misc/4coder.bat
misc/shell.bat
build.bat
